@charset "UTF-8"
body
{

}
table
{
  width: 400px; /* 表の幅 */
  height: 800px; /* 表の高さ */
  /* 中央揃えにする */
  margin-left: auto;
  margin-right: auto;
}
td
{
  width: 10%; /* セルの幅 */
  height: 5%; /* セルの高さ */
  background-color: #455A64; /* 背景色 */
}
.a
{
  background-color: red;
}
.b
{
  background-color: blue;
}
.c
{
  background-color: green;
}
